.layout {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    /* background-color: #fff; */
    /* Background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
}

.layout__header {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    /* Padding for spacing */
}

.layout__header__logo h1 {
    margin: 0;
    /* Remove default margin */
    font-size: 27px;
    /* Logo font size */
    color: var(--secondary);
}

.layout__header__menu {
    display: flex;
    /* Flexbox for menu items */

}
.icons {
    font-size: 10px;
}
.layout__header__menu ul {
    list-style: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
    display: flex;
    flex-wrap: nowrap;
}

.layout__header__menu li {
    /* flex-wrap: wrap; */
    margin: 0 15px;
    /* Spacing between menu items */
    cursor: pointer;
    /* Pointer cursor on hover */
    display: flex;
    /* Flexbox for icon and text */
    align-items: center;
    /* Center items vertically */
    font-size: 16px
}

.layout__header__menu li span {
    margin-left: 5px;
    /* Space between icon and text */
}
.import{ 
    background-color: rgb(252, 184, 124);
    padding: 10px;
    color: black;
    border-radius: 10px;
}
/* Responsive styles */
@media (max-width: 836px) {
   
    .layout__header {
       flex-direction: row; 
        /* display: flex; */
        align-items: flex-start; 
       /* justify-content: space-between; */
    }

    .layout__header__menu {
        width: 100%;
        /* Full width for menu */
        flex-direction: column;
        /* Stack menu items vertically */
        display: none;
        /* align-items: center; */
        /* Hide menu by default */
        margin-top: 40px;
        align-items: flex-start;
    }

    .layout__header__menu.active{
        display: flex;
        flex-direction: row;
        /* Show menu when active */
        position: relative;
        top: 0px;
        right: 130px;
      
    }
    .layout__header__menu ul{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        font-size: 2vw;
        
    }

    .layout__header__menu li {
        margin: 3px 0;      
        width: 100%;
        padding: 10px;
        /* text-align: left; */
        font-size: 2vw;
        transition: background-color 0.3s ease, transform 0.3s ease;
       
    }
    .layout__header__menu li:hover {
        background-color: rgba(0, 0, 0, 0.1);
        /* Change background color on hover */
        transform: scale(1.02);
        /* Slightly scale up on hover */
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        /* background-color: red; */
        position: absolute;
       
        /* top: 100px; */
        
        right: 10px;
        /* Adjust as needed */
        z-index: 10;
        /* Ensure it appears above other elements */
    }
}

@media (min-width: 836px) {
    .menu-toggle {
        display: none;
        /* Hide toggle button on larger screens */
    }
}